#root{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  gap: 2%;
}
.App {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
